# V8 API Credentials
V8_CLIENT_ID="DHWogdaYmEI8n5bwwxPDzulMlSK7dwIn"
V8_AUDIENCE="https://bff.v8sistema.com"
V8_SCOPE="offline_access"
V8_AUTH_URL="https://auth.v8sistema.com/oauth/token"

# FGTS Login Credentials (1 user only)
V8_USERNAME="crislunasdigital@gmail.com"
V8_PASSWORD="7.O?v>coI>5E"

# Porta do servidor
PORT=3000