node_modules/
coverage/
docs/
dist/
build/
test/
tests/
*.test.js
*.spec.js
test-*.js
examples.js
*.min.js
*.bundle.js
package-lock.json
yarn.lock
pnpm-lock.yaml
.git/
.gitignore
.github/
.editorconfig
.eslintrc.js
.eslintignore
.prettierrc.js
.prettierignore
.jestignore
jest.config.js
jest.setup.js
babel.config.js
rollup.config.js
webpack.config.js
nodemon.json
ecosystem.config.js
docker-compose.yml
Dockerfile
sonar-project.properties
.codeclimate.yml
renovate.json
.releaserc.js
codecov.yml
.snyk
.greenkeeperrc
lerna.json
.browserslistrc



